<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.TeamDao">

	<resultMap type="Team" id="TeamMap">
		<id column="name" property="name" />
		<result column="dscrt" property="description" />
		<result column="max_qty" property="maxQty" />
		<result column="sdt" property="startDate" />
		<result column="edt" property="endDate" />
	</resultMap>

	<select id="selectList" resultMap="TeamMap" parameterType="map">
		select name,max_qty,sdt,edt 
		from pms2_team
		<!-- limit #{startIndex}, #{pageSize} -->
	</select>

	<insert id="insert" parameterType="Team">
		insert into pms2_team(name, dscrt, max_qty, sdt, edt) 
		values(#{name},#{description},#{maxQty},#{startDate},#{endDate})
	</insert>

	<select id="selectOne" resultMap="TeamMap" parameterType="Team">
		select name, dscrt, max_qty, sdt, edt from pms2_team 
		where name=#{name}
	</select>

	<update id="update" parameterType="Team">
		update pms2_team set 
		  dscrt=#{description}, 
		  max_qty=#{maxQty}, 
		  sdt=#{startDate}, 
		  edt=#{endDate} 
		where name=#{name}
	</update>

	<delete id="delete" parameterType="Team">
		delete from pms2_team where name=#{name}
	</delete>
	
	<update id="updateState" parameterType="int">
        update pms2_team set 
        stat=#{state} 
        where tano=#{no}
    </update>

</mapper>










